@model June14ClassPerformance.Models.Student
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Student</h2>
<form action="/Student/Edit" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" value="@Model.Name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Date of Birth</label>
        <input type="date" name="DOB" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date of Birth" value="@Model.DOB">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Credits Completed</label>
        <input type="number" name="Credit" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Credit Completed" value="@Model.Credit">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">CGPA</label>
        <input type="text" name="CGPA" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="CGPA" value="@Model.CGPA">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Department Id</label>
        <input type="number" name="Dept_Id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Department ID" value="@Model.Dept_Id">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

